#delete QRCodes every 48 hrs
1 1 * * * root find /var/www/qrcode/  -type f -mtime 2 -exec rm {} \; &>/dev/null
1 1 * * * root rm -rf /tmp/*vpn* &>/dev/null
1 1 * * * root rm -rf /tmp/*.zip &>/dev/null
