{{ ansible_managed | comment }}
# Version: 1.4.3
# Refer to http://docs.aws.amazon.com/cli/latest/userguide/cli-http-proxy.html for
# details.
HTTP_PROXY={{ awslogs_http_proxy | quote }}
HTTPS_PROXY={{ awslogs_https_proxy | quote }}
NO_PROXY={{ awslogs_noproxy | quote }}
