HTTP_POXY=http://cloud-proxy.internal.io:3128
HTTPS_PROXY=http://cloud-proxy.internal.io:3128
NO_PROXY=localhost,127.0.0.1,.internal.io
AWS_ACCESS_KEY_ID=FILL/THIS/IN
AWS_SECRET_ACCESS_KEY=FILL/THIS/IN
AWS_DEFAULT_REGION=us-east-1
