
header {
  margin: auto;
}

main {
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 320px;
  padding: 0px;
}

section {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
}

.g3reports-status {
  font-size: 0.8em;
}

.g3reports-datapanel {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #4c80c4;
}

div.g3reports-rtimes__scrollbox {
  max-height: 400px;
  overflow-y: auto;
}