    location GEN3_UWSGI_ROUTE {
        uwsgi_param REMOTE_ADDR $http_x_forwarded_for if_not_empty;
        uwsgi_param REMOTE_USER $http_x_userid if_not_empty;

        include uwsgi_params;
        uwsgi_pass unix:/var/run/gen3/uwsgi.sock;
        uwsgi_read_timeout GEN3_UWSGI_TIMEOUT;
        uwsgi_send_timeout GEN3_UWSGI_TIMEOUT;
    }

