[defaults]
inventory             = ./hosts.yaml
roles_path            = ./roles
host_key_checking     = False
log_path              = /var/log/ansible.log
retry_files_save_path = /tmp/ansible-retry
#deprecation_warnings  = False
[inventory]
[privilege_escalation]
[paramiko_connection]
[ssh_connection]
[persistent_connection]
[accelerate]
[selinux]
[colors]
[diff]
