PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
http_proxy={{ http_proxy }}:{{ http_proxy_port }}
https_proxy={{ https_proxy }}:{{ https_proxy_port }}
no_proxy={{ no_proxy }}
