name: Build Squid images

on: 
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/image_build_push_squid.yaml
      - Docker/squid/**

jobs:
  squid:
    name: Squid image
    uses: uc-cdis/.github/.github/workflows/image_build_push.yaml@master
    with:
      DOCKERFILE_LOCATION: "./Docker/squid/Dockerfile"
      DOCKERFILE_BUILD_CONTEXT: "./Docker/squid"
      OVERRIDE_REPO_NAME: "squid"
      USE_QUAY_ONLY: true
    secrets:
      ECR_AWS_ACCESS_KEY_ID: ${{ secrets.ECR_AWS_ACCESS_KEY_ID }}
      ECR_AWS_SECRET_ACCESS_KEY: ${{ secrets.ECR_AWS_SECRET_ACCESS_KEY }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_ROBOT_TOKEN: ${{ secrets.QUAY_ROBOT_TOKEN }}    
